# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [43]:
null_vector = np.zeros(10,dtype=np.int32)
print(null_vector)

[0 0 0 0 0 0 0 0 0 0]

3. Create a vector with values ranging from 10 to 49

In [44]:
vector1 = np.arange(10,50)
print(vector1)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

4. Find the shape of previous array in question 3

In [45]:
print(vector1.shape)

(40,)

5. Print the type of the previous array in question 3

In [46]:
print(vector1.dtype)

int32

6. Print the numpy version and the configuration

In [47]:
print(np.__version__)
print(np.show_config())

1.16.5
mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/workbook/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/workbook/Anaconda3\\Library\\include']
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/workbook/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/workbook/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/workbook/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/workbook/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/workbook/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/workbook/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/workbook/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/workbook/Anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [48]:
print(vector1.ndim)

1

8. Create a boolean array with all the True values

In [49]:
boolean_array = np.full((5,),True,dtype=bool)
print(boolean_array)

[ True  True  True  True  True]

9. Create a two dimensional array

In [50]:
two_dim_array = np.zeros((2,2),dtype=np.int32)
print(two_dim_array)

[[0 0]
 [0 0]]

10. Create a three dimensional array

In [51]:
three_dim_array = np.ones((2,2,2),dtype=np.int32)
print(three_dim_array)

[[[1 1]
  [1 1]]

 [[1 1]
  [1 1]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [52]:
vector = np.arange(10,20)
print('Original order of vector {0}'.format(vector))
print('Reverse of vector {0}'.format(np.flip(vector)))

Original order of vector [10 11 12 13 14 15 16 17 18 19]
Reverse of vector [19 18 17 16 15 14 13 12 11 10]

12. Create a null vector of size 10 but the fifth value which is 1

In [53]:
null_vector2 = np.zeros(10,dtype=np.int32)
null_vector2[4] = 1
print(null_vector2)

[0 0 0 0 1 0 0 0 0 0]

13. Create a 3x3 identity matrix

In [54]:
identity_matrix = np.identity(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [55]:
arr = np.array([1,2,3,4,5])
float_arr=arr.astype(np.float32)
print(float_arr)
print(float_arr.dtype)

[1. 2. 3. 4. 5.]
float32

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [56]:
arr1 = np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])
arr3 = arr1*arr2
print(arr3)

[[ 0.  8.  3.]
 [28. 10. 72.]]

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [57]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])

print("arr1 >= arr2")
print(np.greater_equal(arr1, arr2))
print("arr1 > arr2")
print(np.greater(arr1, arr2))
print("arr1 <= arr2")
print(np.less_equal(arr1, arr2))
print("arr1 < arr2")
print(np.less(arr1, arr2))
print("arr1 = arr2")
print(np.equal(arr1, arr2))
print("arr1 != arr2")
print(np.not_equal(arr1, arr2))

arr1 >= arr2
[[ True False  True]
 [False  True False]]
arr1 > arr2
[[ True False  True]
 [False  True False]]
arr1 <= arr2
[[False  True False]
 [ True False  True]]
arr1 < arr2
[[False  True False]
 [ True False  True]]
arr1 = arr2
[[False False False]
 [False False False]]
arr1 != arr2
[[ True  True  True]
 [ True  True  True]]

17. Extract all odd numbers from arr with values(0-9)

In [58]:
_array = np.arange(0,10)
odd_array = _array[_array %2 == 1]
print(odd_array)

[1 3 5 7 9]

18. Replace all odd numbers to -1 from previous array

In [59]:
_array[_array %2 ==1] = -1
print(_array)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [60]:
arr = np.arange(10)

np.put(arr,range(5,9),12)
print(arr)

[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [61]:
array_with_zeros =np.zeros((5,5),dtype=(np.int32))
array_with_pad = np.pad(array_with_zeros,(1),mode='constant',constant_values=(1))
print(array_with_pad)

[[1 1 1 1 1 1 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 1 1 1 1 1 1]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [62]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])

arr2d[1,1] = 12
print(arr2d)

[[ 1  2  3]
 [ 4 12  6]
 [ 7  8  9]]

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [63]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,:,:] =64
print(arr3d)

[[[64 64 64]
  [64 64 64]]

 [[ 7  8  9]
  [10 11 12]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [64]:
two_d_array = np.arange(0,9).reshape(3,3)
print(two_d_array[0,:])

[0 1 2]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [65]:
two_d_array_2 = np.arange(0,9).reshape(3,3)
print(two_d_array_2[1,1])

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [66]:
two_d_array_3 = np.arange(0,9).reshape(3,3)

print(two_d_array_3[:2,2])

[2 5]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [67]:
two_d_array_4 = np.random.randint(100,size=(10,10))
print(two_d_array_4)
print("Minimum value of 10 X 10 array is {}".format(np.amin(two_d_array_4)))
print("Maximum value of 10 X 10 array is {}".format(np.amax(two_d_array_4)))

[[69 87 31 47 27 17 25 97 74 56]
 [32 34 11 19  5  4 54 89 72 48]
 [48 48 48 69 33 56 19 36 43 80]
 [85 46 82 47  1 62 80 87 10 95]
 [19 23 66 42 43 20 57 62 97  4]
 [26 91 67 98 90 72  7 55 33 10]
 [80 96 29 64 78 90 63 84 16 48]
 [26  0 11 11 41 72 30 20 91 36]
 [38 17 30 93 49 89 43 71 64 88]
 [27 84 71 12 10  7 88 15 10 53]]
Minimum value of 10 X 10 array is 0
Maximum value of 10 X 10 array is 98

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [68]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [69]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(np.where(np.isin(a,np.intersect1d(a,b)) == True),np.where(np.isin(b,np.intersect1d(a,b)) == True)))

[1 3 5 7]

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [70]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
print(data[names!= 'Will'])

[[-1.30717437 -0.26891046  0.05273583  0.68081733]
 [ 1.64256318  0.40853967 -0.82196619  0.70435117]
 [-0.16602811 -0.6794969   0.6323079  -0.5325791 ]
 [-0.39843353  1.21895229  0.51281632  0.7895522 ]
 [ 0.19808732  0.39755134 -0.33839139  0.60700327]]

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [71]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
mask = (names != 'Will') & (names != 'Joe')
data[mask]

array([[ 0.08672563, -0.34730049, -0.48924234,  0.17418376],
       [ 0.81018051,  0.27593082,  0.92491469, -1.1619082 ]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [72]:
random_array = np.random.uniform(1,15,size=(5,3))
print(random_array)

[[ 9.49295239  8.66121136  7.67972519]
 [ 1.99352104  7.49983912  5.03047415]
 [ 5.9839083  12.17760106 10.01367453]
 [ 8.30181891  3.80609921  2.73556229]
 [ 7.38892865  1.96173243  1.38353874]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [73]:
random_array2 = np.random.uniform(1,16,size=(2,2,4))
print(random_array2)

[[[15.85227888  9.34169383 11.26030232  4.16464543]
  [ 7.40040776 11.34570913 14.43795515  5.39952756]]

 [[ 4.39181088 12.03736341  8.95140312 10.66068125]
  [ 9.92827081  1.90208242 10.24879838  5.76351745]]]

33. Swap axes of the array you created in Question 32

In [74]:
print(np.swapaxes(random_array2, 1, 0))

[[[15.85227888  9.34169383 11.26030232  4.16464543]
  [ 4.39181088 12.03736341  8.95140312 10.66068125]]

 [[ 7.40040776 11.34570913 14.43795515  5.39952756]
  [ 9.92827081  1.90208242 10.24879838  5.76351745]]]

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [75]:
_array = np.random.uniform(0.1,0.27,size=(10))
sqrt_array =np.sqrt(_array)
sqrt_array[sqrt_array<0.5] = 0
print(sqrt_array)

[0.         0.         0.51933955 0.         0.         0.
 0.         0.         0.         0.        ]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [76]:
array1 = np.random.randint(0,12,size=10)
print(array1)
array2 = np.random.randint(0,12,size=10)
print(array2)
print('Maximum values {0}'.format(np.maximum(array1,array2)))

[6 6 7 0 2 2 6 9 4 2]
[ 2  4  5  2 10 10  3  7  1  9]
Maximum values [ 6  6  7  2 10 10  6  9  4  9]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [77]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
print(np.unique(names))

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [5]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
a = (np.setdiff1d(a,b))
print(a)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [79]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
w = np.delete(sampleArray,1,1)
print(np.insert(w,1, newColumn, axis=1))

[[34 10 73]
 [82 10 12]
 [53 10 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [80]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
print(np.dot(x,y))

[[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [81]:
random_matrix = np.random.randint(0,10,size=(2,10))
print(random_matrix)
print(np.cumsum(random_matrix))

[[2 7 4 0 8 2 8 1 7 2]
 [2 3 1 7 4 2 7 4 6 0]]
[ 2  9 13 13 21 23 31 32 39 41 43 46 47 54 58 60 67 71 77 77]